<p>
  You can find out more <a style="color: #b59f00; text-decoration: underline;" href="#">here</a> or go somewhere ...
</p>

<button class="btn waves-effect waves-light" type="submit" name="action">Add<i class="large material-icons right">add</i></button>
<button class="btn waves-effect waves-light" type="submit" name="action">Repeat<i class="material-icons right">repeat_one</i></button>
<button class="btn waves-effect waves-light" type="submit" name="action">Comment<i class="material-icons left">comment</i></button>
