<div class="container maxWidthWider">
   <h1>Features</h1>

   <!-- <div class="row">
      <div class="col s12">
         <p>
            Crossbar.io is an open-source <strong>unified application router</strong> which enables application developers to create powerful systems from loosely coupled application components.
         </p>
         <p>
            Application components can talk freely to each other, whether running locally or when distributed over different machines using the application messaging services provided by Crossbar.io. They communicate using <a href="http://wamp.ws">WAMP (Web Application Messaging Protocol)</a>, an open protocol which provides easy to use <strong>remote procedure calls</strong> and <strong>real-time event notifications</strong>.
         </p>
      </div>
   </div> -->

   <div class="row inlineCollection">

      <!-- <div class="container"> -->
      
      <div class="col s12 m6 l4">
         <div class="feature-block">
            <h5>
               Connections at scale 
            </h5>
            <p>
               A single Crossbar.io instance can handle 100s of thousands of concurrent connections, and 10s of thousands of messages per second. A multi-router scale-out architecture is under development.
            </p>
         </div>
      </div>

      <div class="col s12 m6 l4">
         <div class="feature-block">
            <h5>
               Authentication & Authorization
            </h5>
            <p>
               Crossbario offers integrated authentication and fine-grained, role-based authorization. For more flexibility you can add custom authenticators or authorizers, giving you full control and enabling integration with your existing systems.
            </p>
         </div>
      </div>

      <div class="col s12 m6 l4">
         <div class="feature-block">
            <h5>
               REST bridging
            </h5>
            <p>
               Using the REST bridge services, applications can integrate REST services. Call a REST procedure or publish to a REST endpoint from WAMP. Call a WAMP procedure or publish from REST. Benefit from WAMP without discarding existing code.
            </p>
         </div>
      </div>

      <div class="col s12 m6 l4">
         <div class="feature-block">
            <h5>
               Component hosting         
            </h5>
            <p>
               Run and monitor application components from Crossbar.io, using any runtime available on your system. Spining up your entire application backend can be as simple as 'crossbar start'. 
            </p>
         </div>
      </div>

      <div class="col s12 m6 l4">
         <div class="feature-block">
            <h5>
               Open Source
            </h5>
            <p>
               Crossbar.io is open source (AGPL v3). You're free to experiment, test and modify as you want - contributions to the project are welcome. For production deployments, there is commercial support by Crossbar.io's core developers.
            </p>
         </div>
      </div>

      <div class="col s12 m6 l4">
         <div class="feature-block">
            <h5>
               Open Ecosystem
            </h5>
            <p>
               WAMP, the protocol that Crossbar.io uses, is an open protocol, with 17 client and 9 router implementations. Crossbar.io is written by the main creators of WAMP, and is the most feature-rich and performant WAMP router.
            </p>
         </div>
      </div>

      <div class="col s12 m6 l4">
         <div class="feature-block">
            <h5>
               Call into the browser
            </h5>
            <p>
               Components running in the browser are equal to other components. You can register procedures and call them from anywhere. Run code in the browser or in Node.js as best fits the situation.
            </p>
         </div>
      </div>

      <!-- </div> -->

   </div>

</div>
