{% extends "layout.html" %}

{% block subheader %}
{% endblock %}

{% block main %}

<div class="b-color-9 color-0">
   <div class="container">
      <div class="section no-pad-bot" id="index-banner">
         <div class="container" style="width: 86%;">
            <br><br>
            <div id="biglogo" class="row center">
               <div class="header col s12">
                  <img  src="static/img/crossbar_icon_and_text_vectorized_yellow_icon.svg" width="300" />
               </div>
               <h5 class="header col s12 light">Open-source unified application router</h5>
            </div>

            
            {% include 'index_messaging.html' %}

            <hr>
            <br>
            <div class="row center" style="padding-bottom: 28px;">
               <a href="#!" id="download-button" class="btn-large waves-effect waves-light b-color-1 color-4">Get Started</a>
            </div>
         </div>
      </div>
   </div>
</div>

{% include 'index_features.html' %}

{% include 'index_codebox.html' %}

{% include 'index_demos.html' %}


{% endblock %}
