{% extends "layout.html" %}

{% block subheader %}
{% endblock %}

{% block main %}

<div class="b-color-9 color-0">
   <div class="container">
      <div class="section no-pad-bot" id="index-banner">
         <div class="container" style="width: 86%;">
            <br><br>
            <div id="biglogo" class="row center">
               <div class="header col s12">
                  <img  src="static/img/crossbar_icon_and_text_vectorized_yellow_icon.svg" width="300" />
               </div>
               <h5 class="header col s12 light">Open-source unified application router</h5>
            </div>
            <br><br>
            <div class="row">
               <div class="col s12 m6">
                  <img src="static/img/rpc_call.svg" style="width: 90%; padding: 8px;"/>
               </div>
               <div class="col s12 m6" style="padding: 8px;">
                  <h1 class="frontsubtitle">Remote Procedure Calls</h1>
                  <p>
                      With the Remote Procedure Call pattern, any component can

                         Register a procedure that other components can call
                         Call procedures registered by other components

                     Crossbar.io routes calls to the component that registered the respective procedure and returns the result to the caller:
                  </p>
                  <div style="height: 100%">&nbsp;</div>
                  <ul class="pagination color-7" style="">
                  <!--
                      <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                  -->
                      <li class="active"><a href="#!">1</a></li>
                      <li class="waves-effect"><a href="#!">2</a></li>
                      <li class="waves-effect"><a href="#!">3</a></li>
                      <li class="waves-effect"><a href="#!">4</a></li>
                      <li class="waves-effect"><a href="#!">5</a></li>
                      <!--
                      <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                      -->
                  </ul>
               </div>
            </div>
            <hr>
            <br>
            <div class="row center" style="padding-bottom: 28px;">
               <a href="#!" id="download-button" class="btn-large waves-effect waves-light b-color-1 color-4">Get Started</a>
            </div>
         </div>
      </div>
   </div>
</div>

{% include 'index_features.html' %}

{% endblock %}
