<div class="container">

   <!-- <div class="row">
      <div class="col s12">
         <p>
            Crossbar.io is an open-source <strong>unified application router</strong> which enables application developers to create powerful systems from loosely coupled application components.
         </p>
         <p>
            Application components can talk freely to each other, whether running locally or when distributed over different machines using the application messaging services provided by Crossbar.io. They communicate using <a href="http://wamp.ws">WAMP (Web Application Messaging Protocol)</a>, an open protocol which provides easy to use <strong>remote procedure calls</strong> and <strong>real-time event notifications</strong>.
         </p>
      </div>
   </div> -->

   <div class="row">

      <div class="col s12 m6 l4">
         <div class="feature-block">
            <h5>Cross-language Integration</h5>
            <p>
               Crossbar.io supports application components written in different programming languages: JavaScript (both Browser and NodeJS), Python, PHP, C++, Java (Android) and ObjectiveC (iOS), with more upcoming.
            </p>
            <p>
               Application components run under their native run-time and can be automatically started and monitored by Crossbar.io.
            </p>
         </div>
      </div>

      <div class="col s12 m6 l4">
         <div class="feature-block">
            <h5>Unified Application Messaging</h5>
            <p>
               At its core, Crossbar.io provides a flexible and scalable communication infrastructure for application components to talk to each other. This communication infrastructure is based on Unified Routing and WAMP.
            </p>
            <p>
               Application components involved are fully decoupled by Crossbar.io which dynamically routes calls and events between them.
            </p>
         </div>
      </div>

      <div class="col s12 m6 l4">
         <div class="feature-block">
            <h5>Cross-Layer Integration</h5>
            <p>
               Crossbar.io features cross-layer integration: application components can be flexibly deployed across layers, and transparently talk to each other no matter in what layer the components reside.
            </p>
            <p>
               E.g. you can call a remote procedure residing in a backend component from a frontend component running in the browser, but you can also call into code running inside the browser from a backend component!
            </p>
         </div>
      </div>

   </div>

   <div class="row">

      <div class="col s12 m6 l4">
         <div class="feature-block">
            <h5>Full-stack Services</h5>
            <p>
               Crossbar.io also includes a whole set of full-stack services, such as authentication and authorization, serving static Web files, HTTP long-poll fallback, HTTP push bridge, CGI scripts and hosting WSGI applications.
            </p>
            <p>
               This will often make Crossbar.io all the infrastructure you need besides your database.
            </p>
         </div>
      </div>

      <div class="col s12 m6 l4">
         <div class="feature-block">
            <h5>Scale-up &amp; Scale-out Architecture</h5>
            <p>
               Crossbar.io has a multi-process architecture where a single node controller process spawns and monitors multiple worker processes. Worker process types include router, application component host and arbitrary guest processes.
            </p>
            <p>
               The multi-process architecture enables scaling up on multi-core systems and supports secure and robust operation.
            </p>
         </div>
      </div>

      <div class="col s12 m6 l4">
         <div class="feature-block">
            <h5>Scale-up &amp; Scale-out Architecture</h5>
            <p>
               Crossbar.io has a multi-process architecture where a single node controller process spawns and monitors multiple worker processes. Worker process types include router, application component host and arbitrary guest processes.
            </p>
            <p>
               The multi-process architecture enables scaling up on multi-core systems and supports secure and robust operation.
            </p>
         </div>
      </div>

   </div>

</div>
