<div class="scalesBox container maxWidthWider">
   <h1 class="scalesHeader">
      Crossbar.io scales!
   </h1>
   <table>
      <tbody>
         <tr class="class">
            <th>
               
            </th>
            <th>
               L ($10,000 box)
            </th>
            <th>
               M ($1,000 box)
            </th>
            <th>
               S ($100 box)
            </th>
         </tr>
         <tr class="hardware">
            <td>
               hardware & networking
            </td>
            <td>
               <ul>
                  <li>
                     Intel Xeon E5 (64 bit, 8 -39 cores)
                  </li>
                  <li>
                     10/100 Gb networking
                  </li>
               </ul>
            </td>
            <td>
               <ul>
                  <li>
                     Intel Xeon E3, Xeon D or ARMv8 (64 bit, 4 - 16 cores)
                  </li>
                  <li>
                     10 Gb networking
                  </li>
               </ul>
            </td>
            <td>
               <ul>
                  <li>
                     ARM11/ARMv7 (32 bit, 1 - 4 cores)
                  </li>
                  <li>
                     100 Mb/1 Gb networking
                  </li>
               </ul>
            </td>
         </tr>
         <tr class="connections">
            <td>
               concurrent connections
            </td>
            <td>
               100,000
            </td>
            <td>
               10,000
            </td>
            <td>
               1,000
            </td>
         </tr>
         <tr class="calls">
            <td>
               WAMP calls/s
            </td>
             <td>
               100,000
            </td>
            <td>
               10,000
            </td>
            <td>
               1,000
            </td>
         </tr>
         <tr class="events">
            <td>
               WAMP events/s
            </td>
             <td>
               100,000
            </td>
            <td>
               10,000
            </td>
            <td>
               1,000
            </td>
         </tr>
         <tr class="requests">
            <td>
               Web requests/s
            </td>
             <td>
               100,000
            </td>
            <td>
               10,000
            </td>
            <td>
               1,000
            </td>
         </tr>

      </tbody>
   </table>

</div>