<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Crossbar.io</title>

      <!-- Material Design icon font
         FIXME: self-host
         https://google.github.io/material-design-icons/
         https://github.com/google/material-design-icons/tree/master/iconfont
      -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--
      <link type="text/css" rel="stylesheet" href="static/css/material_icon_fonts.css" />
      -->

      <!-- Materialize -->
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/materialize.min.css') }}"  media="screen,projection"/>

      <!-- Pygments -->
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/pygments.css') }}"  media="screen,projection"/>

      <!-- Site specific -->
      <link href="{{ url_for('static', filename = 'css/site.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
   </head>
   <body>
<!--
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Starter Template</h1>
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>
-->

      <header>
         <div class="navbar-fixed">
            <nav class="b-color-5 nav-scroll-top" role="navigation" id="nav">
               <div class="nav-wrapper container">
                  <a id="logo-container" href="/" class="brand-logo">
                     <img src="{{ url_for('static', filename = 'img/crossbar_icon_and_text_vectorized_yellow_icon.svg') }}" height="40" style="padding-top: 12px" />
<!--
                     <img src="static/img/crossbar_icon_inverted.svg" width="40" height="40" />
                     <img src="static/img/crossbar_name_white.svg" width="128" height="20" />
-->
                  </a>
                  <ul class="right hide-on-med-and-down">
                     <li><a href="#">Overview</a></li>
                     <li><a href="#">How it works</a></li>
                     <li><a href="#">Demos</a></li>
                     <li><a href="/docs">Documentation</a></li>
                     <li><a href="/iotcookbook">IoT Cookbook</a></li>
                  </ul>
                  <ul id="nav-mobile" class="side-nav">
                     <li><a href="#">Overview</a></li>
                     <li><a href="#">How it works</a></li>
                     <li><a href="#">Demos</a></li>
                     <li><a href="/docs">Documentation</a></li>
                     <li><a href="/iotcookbook">IoT Cookbook</a></li>
                  </ul>
                  <a href="#" data-activates="nav-mobile" class="button-collapse">
                     <i class="material-icons">menu</i>
                  </a>
               </div>
            </nav>
         </div>
      </header>

      <main id="main">
         {% block main %}{% endblock %}
      </main>

      <footer class="page-footer color-5 b-color-10">
         <div class="container">
            <div class="row">
               <div class="col l6 s12">
                  <h5 class="color-1 light">Crossbar.io</h5>
                  <p class="color-0">
                     Crossbar.io is an open-source project started by <a class="color-0" href="http://tavendo.com">Tavendo</a>.
                     We have a growing user community and active community contributions.
                     Our mission is: take middleware to the next-level - IoT.
                  </p>
               </div>
               <div class="col l2 s12">
                  <h5 class="color-1 light">About</h5>
                  <ul>
                     <li><a class="color-0" href="#!">Our Team</a></li>
                     <li><a class="color-0" href="#!">Tavendo</a></li>
                  </ul>
               </div>
               <div class="col l2 s12">
                  <h5 class="color-1 light">Connect</h5>
                  <ul>
                     <li><a class="color-0" href="#!">GitHub</a></li>
                     <li><a class="color-0" href="#!">Mailing List</a></li>
                     <li><a class="color-0" href="#!">Twitter</a></li>
                     <li><a class="color-0" href="#!">Contact us</a></li>
                  </ul>
               </div>
               <div class="col l2 s12">
                  <h5 class="color-1 light">Resources</h5>
                  <ul>
                     <li><a class="color-0" href="#!">Getting Started</a></li>
                     <li><a class="color-0" href="#!">Documentation</a></li>
                     <li><a class="color-0" href="#!">Downloads</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="footer-copyright color-0 b-color-5">
            <div class="container">
               Made by <a class="white-text" href="#">Tavendo</a>: &nbsp;
               <a class="color-0" href="#">copyright &amp; trademarks</a>
               &middot;
               <a class="color-0" href="#">privacy &amp; cookie policy</a>
               &middot;
               <a class="color-0" href="#">terms of use</a>
            </div>
         </div>
      </footer>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename = 'js/materialize.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename = 'js/stickyfill.min.js') }}"></script>
      <script src="{{ url_for('static', filename = 'js/site.js') }}"></script>
   </body>
</html>
