{% extends "layout.html" %}

{% block main %}


<div class="container maxWidth">
   <h1>
      Privacy &amp; Cookies
   </h1>
   <p>
      We do not run any tracking mechanisms, or store data on user behavior ourselves. We do, however, use Google Analytics.
   </p>
   <p>
      For any data have access to, or may collect in the future, we promise not to sell or otherwise hand this over to any third party, unless we're required to by law or such third party processes the data for us and itself does not pass on your data.
   </p>
   <p>
      Any contact information we receive we'll use judiciously and promise not to spam you.
   </p>
</div>

{% endblock %}