{% extends "layout.html" %}

{% block main %}


<div class="container maxWidth">
   <h1>
      Terms of Use
   </h1>

   <p>
      This Web site is provided by Tavendo to inform users about Crossbar.io, an open-source application router.
   </p>
   <p>
      Tavendo does not warrant the correctness of any information on this site, and is not liable for any damages which may occur from the use of such information, except for where such liability can not be excluded by mandatory law.
   </p>
   <p>
      We reserve the right to block access to the Web site for anybody who abuses the site. Examples of abuse would be DDOS attacks, excessive downloading (e.g. the entire thing multiple times over in a short period of time).
   </p>
   <p>
      Notifications about errors and omissions on this Web site are always welcome.
   </p>
   <p>
      For any such comments regarding the documentation and IoT cookbook, please file an issue with the <a href="http://opensource.org/licenses/AGPL-3.0">GitHub repository</a> for these.
   </p>
   <p>
      For other comments, email us at <a href="mailto:service@tavendo.de">service@tavendo.de</a>.
   </p>
</div>

{% endblock %}