.videoBox {
   width: 90%;
   margin: 2em auto 4em;
   padding-bottom: 56%;
   position: relative;
   text-align: center;
}

.video {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.videoCaption {
   position: absolute;
   bottom: -2em;
   margin-bottom: 0;
   width: 100%;
}


#wrap {
   background-image: url(/static/img/schaltplan_2.png);
}

#container {
   background-color: #fff;
   box-shadow: 0 0 17px 0px rgba(0,0,0,0.3);
}

#footer {
   background-color: #fff;
   box-shadow: 0 0 17px 0px rgba(0,0,0,0.3);
}