/******************************/
/*  Using our own font stack instead of Roboto from Materialize CSS */
/*  Since rendering of Roboto on Win 7 is completely screwed in */
/*  Firefox and IE at the time of writing! */

@font-face {
   font-family: 'Segoe UI';
   src: local('Segoe UI');
   font-weight: 400;
}

@font-face {
   font-family: 'Segoe UI';
   src: local('Segoe UI Italic');
   font-weight: normal;
   font-style: italic;
}

@font-face {
   font-family: 'Segoe UI';
   src: local('Segoe UI Semibold');
   font-weight: 500;
}

@font-face {
   font-family: 'Segoe UI';
   src: local('Segoe UI Light');
   font-weight: 300;
}

body {
   font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-size: 16px;
   line-height: 1.428571429;
   background-color: #fcfcfc;
   color: #333;
}

/*****************************/



/* Materialize: sticky footer */
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-color: #333 !important;
}

main {
   flex: 1 0 auto;
   background-color: #f8f8f8 !important;
   background-color: #fff !important;
   color: #555;
   padding-bottom: 20px;
    font-size: 16px;
}

footer.page-footer {
   margin-top: 0;
}

footer.page-footer .footer-copyright {
   line-height: 1.7em;
   height: auto;
}

footer.page-footer .footer-copyright .container {
   margin-top: 0.7em;
   margin-bottom: 0.7em;
}

footer.page-footer .footer-copyright span {
   display: inline-block;
}


/* Materialize adjustments */

.icon-block {
   padding: 0 15px;
}
.icon-block .material-icons {
   font-size: inherit;
}

.card .card-action {
  border-top: 1px solid rgba(255,222,0,1);
}

.imagebox {
    width: 400px;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.imagebox img {
    text-align: center;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #aaa;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 6px;
    padding-right: 6px;
}

h1 { font-size: 44px;}
h2 { font-size: 36px;}
h3 { font-size: 30px;}
h4 { font-size: 26px;}
h5 { font-size: 22px;}
h6 { font-size: 18px;}

#page ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
}

#page ul > li {
    font-size: 16px;
    list-style: none;
    padding-left: 2em;
    text-indent: -.7em;
    line-height: 1.7em;
}

#page ul > li:before {
    content: "■ ";
    content: "▪  ";
    color: #B8A318;
    color: #E7C800;
    color: #ffde00;
    padding-right: .3em;
}

main a, main a:visited {
    color: #b59f00;
    color: #49a6d8;
    color: #5287A3;
    color: #817417;
    color: #B69E00;
    color: #555;
    text-decoration: underline;
/*
    color: #ffde00;
    color: #B8A318;

    border-bottom: solid 1px #ffde00;
    text-decoration: underline;
    color: #ffde00;
    color: #666;
    font-weight: 600;
    padding-left: 2px;
    border-bottom: solid 1px #ffde00;
    */
}

main a:hover {
    color: #B8A318;
    color: #E7C800;
    color: #ffde00;
    text-decoration: underline;
/*    transition: all 0.05s ease-in-out;
    border-bottom: solid 2px #ffde00;
*/
}

.carousel a, .carousel a:visited {
  color: #fff;
}

.carousel a:hover {
    color: #ffde00;
}


code {
    font-size: 14px;
    color: #817417;
    font-weight: bold;
/*
    padding: 2px 4px 2px 4px;
    border-radius: 3px;
    background-color: rgba(255, 222, 0, .6);
*/
}

pre.plaincode {
    font-size: 14px;
    color: #817417 !important;
    background-color: rgba(255, 222, 0, .6);
    border-radius: 3px;
    margin-left: 2em;
    padding: 8px 8px 8px 20px;
}

pre.plaincode > code {
    font-weight: normal;
    background-color: transparent !important;
    padding: 0 !important;
}

.highlight-code {
    padding: 8px 12px 8px 20px;
    font-size: 13px;
    width: 90%;
    margin-left: 2em;
    background-color:  #EAEAEA;
    border-radius: 3px;
}

.headerlink {
    opacity: 0;
}

.headerlink:hover {
    transition: all 0.1s ease-in-out;
    opacity: 1;
    text-decoration: none;
}

blockquote {
    border-left: 4px solid #ffde00 !important;
}

/*
 http://old.driven-by-data.net/about/chromajs/#/0
 */

 nav {
    z-index: 10 !important;
 }

 nav ul a:hover {
    background-color: rgba(255, 222, 0, 0.29);
    color: #E6E5E5;
    transition: all 0.2s ease-in-out;
 }

 .feature-block {
    margin: 8px 8px 39px 8px;
    border-top: solid 3px #ffde00;
    color: #666;
 }

 .feature-block h5 {
    font-weight: 300;
    /*color: #000;*/
 }



.frontsubtitle {
    font-size: 18px;
    font-weight: 300;
    margin: 0;

}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 200px;
}

.sticky:before,
.sticky:after {
    content: '';
    display: table;
}

.color-0 {
    color: #ffffff !important;
}
.color-1 {
    color: #ffde00 !important;
}
.color-2 {
    color: #c0a80f !important;
}
.color-3 {
    color: #857411 !important;
}
.color-4 {
    color: #4e450e !important;
}
.color-5 {
    color: #1e1a00 !important;
}
.color-6 {
    color: #000000 !important;
}
.color-7 {
    color: #ECDB6C !important;
}

.b-color-0 {
    background-color: #ffffff !important;
}
.b-color-1 {
    background-color: #ffde00 !important;
}
.b-color-2 {
    background-color: #c0a80f !important;
}
.b-color-3 {
    background-color: #857411 !important;
}
.b-color-4 {
    background-color: #4e450e !important;
}
.b-color-5 {
    background-color: #333 !important;
}
.b-color-6 {
    background-color: #000000 !important;
}

.b-color-7 {
    background-color: #aaa !important;
}

.b-color-8 {
    background-color: #999 !important;
}

.b-color-9 {
    background-color: #49a6d8 !important;
    background-color: #003552 !important;
    background-color: #0F608C !important;
    background-color: #333 !important;
}

.color-9 {
    color: #49a6d8 !important;
    color: #003552 !important;
    color: #0F608C !important;
}

.b-color-10 {
    background-color: #666 !important;
}

.color-11 {
    color: #888 !important;
}


.active, .active a, .new, .btn {
    color: rgba(0, 0, 0, .8)  !important;
    color: #333 !important;
    background-color: #ffde00 !important;
}

.collection-item {
    color: #666  !important;
}

.b-color-1-darken-1 {
    background-color: rgb(255, 222, 0) !important;
}

.symbol {
    color: #4e450e;
    background-color: #ffde00 !important;
    padding: 3px;
}


.nav-wrapper li img {
    width: 12px;
    height: 12px;
    padding: 0;
}

.nav-scroll-top {
    box-shadow: none !important;
    background-color: #333 !important;
    transition: all 0.3s ease-in-out;
}

.nav-scroll-top .brand-logo {
    opacity: 0 !important;
    transition: all 0.3s ease-in-out;
}

.nav-scroll-nontop {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    background-color: #333 !important;
    transition: all 0.35s ease-in-out;
}

.nav-scroll-nontop .brand-logo {
    opacity: 1 !important;
    transition: all 0.35s ease-in-out;
}

.logo-on {
    opacity: 1 !important;
    transition: all 0.35s ease-in-out;
}

.logo-off {
    opacity: 0 !important;
    transition: all 0.35s ease-in-out;
}

/*
rgb(255, 222, 0)
#ffde00 #c9af29 #958334 #645936 #333333
#ffde00 #c0a80f #857411 #4e450e #1e1a00
*/

/*
 We have a fixed navbar, and to make intra-page header anchors / targets
 not disappear under the top navbar, we offset the anchor target.
 */
a.anchor {
    display: block;
    position: relative;
    top: -90px;
    visibility: hidden;
}

#main a.goto-top {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.6em;
    margin-bottom: 2em;
    border-top: solid 1px #999;
    padding-top: 6px;
    text-decoration: underline;
    text-align: center;
}


.centeredText {
   text-align: center;
}

/* want page footer blocks to adjust on mid-sized */

.page-footer .col {
   display: inline-block;
   float: none;
   vertical-align: top;
}

@media only screen and (min-width: 601px) {
   .page-footer .col.m6 {
      width: 49.5%;
   }
}

@media only screen and (min-width: 993px) {
    .page-footer .col.l2 {
        width: 15%;
    }
}


/*****************************
  Landing page formatting
******************************/

.maxWidth {
   max-width: 800px;
}

.maxWidthWider {
   max-width: 900px;
}

.inlineBlock {
   display: inline-block;
}

.textLeft {
   text-align: left;
}


/* fork us on github banner */
#github {
   width: 132px;
   height: 133px;
   position: fixed;
   top: 0px;
   right: 0px;
   border: 0;
   transition: all 0.5s;
}

#github {
   background-image: url('../img/gen/github_path.svg');
   /*-webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));*/
   filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
   z-index: 1002;/* otherwise the crossbar log overlays this partially and prevents the hover */
}

#github:hover {
   background-image: url('../img/gen/github_path_highlighted.svg');
   -webkit-filter: drop-shadow(0px 0px 15px rgba(0,0,0,0.7));
   filter: svg-drop-shadow;
}


#github.noShow {
   visibility: hidden;
   opacity: 0;
   transition: all 0.5s;
}

/* carousel formatting*/

.carousel {
    margin-top: 3em;
}

.carousel h1 {
    text-align: center;
}

.carousel .row {
    visibility: hidden;
    opacity: 0;
    transition: all 0.15s ease-in-out;
}

.carousel .row.shown {
    visibility: visible;
    opacity: 1;
    transition: all 0.15s ease-in-out 0.17s;
}

.carousel .slideContainer {
    position: relative;

}

/* variant one: 
   one slide determines the height of the container,
   the others are absolutely positioned, 
   only visibility + opacity are switched
*/

   /* first slide is positioned relative and determines 
      the height of the container
   */

/*.carousel .slide:nth-of-type(n + 2) {
    position: absolute;
    top: 0;
    left: 0;
}*/

   /* last slide is positioned relative and determines
      the height of the container
   */

/*.carousel .slide {
    position: absolute;
    top: 0;
    left: 0;
}

.carousel .slide:last-of-type {
   position: relative;
}
*/

/* variant two:
   slides are switched in their position dynamically,
   so that the height of the container adjusts to 
   the currently displayed slide
*/

.carousel .slide {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 22rem;
}

@media (max-width: 600px) {
   .carousel .slide {
      min-height: 34rem;
   }
}

.carousel .slide.shown {
   position: relative;
}



.carousel button {
    border: none;
    background-color: transparent;
}

.carousel li.disabled {
    color: #888;
}

.carousel .navigation {
    text-align: center;
    clear: both;
}

.navigation ul {
    display: inline-block;
}

.navigation ul, 
.navigation .material-icons {
    font-size: 24px;
}

    /* carousel image size adjustments */
.slide img {
   width: 100%;
   max-width: 23rem;
   display: inline-block;
   min-height: 20rem; /* otherwise IE restricts the image height to that of the text block */
}

.slide .col.image  {
   text-align: center;
}

#pubsub_publish_img {
   max-width: 21rem;
}

#carousel_realtime_img {
   max-width: 21rem;
}

#carousel_realtime table {
   font-size: 90%;
}

#carousel_realtime thead {
   font-weight: 500;
}

#carousel_realtime tr {
   line-height: 1em;
}

#carousel_realtime td {
   
}


/* features formatting */

/*
    We can't have the features in rows, and they can hang due to different 
    content heights.
    'inline-block' avoids this, but we need to slightly adjust the widths
    to less than 1/3 and 1/2 respectively.
*/

.inlineCollection .col {
    display: inline-block;
    vertical-align: top;
    float: none;
    margin: 0;
    text-align: left;
}

@media only screen and (min-width: 601px) {
    .inlineCollection .col.m6 {
        width: 49.5%;
    }
}

@media only screen and (min-width: 993px) {
    .inlineCollection .col.l4 {
        width: 32.8%;
    }
}

.inlineCollection .col p {
    /* font-size: 16px; */
    color: #888;
}



/* codebox formatting */



.container .row.codeBox {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
 }

 
/* less margin on narrower screens */
 @media (max-width: 650px) {
   .container .row.codeBox {
      margin-left: 0;
      margin-right: 0;
   }
}

.codeBox li#switch_js {
   min-width: 10em;
}

.codeBox li#switch_python {
   min-width: 6em;
}

.codeBox li#switch_cpp {
   min-width: 4em;
}

.codeBox li#switch_php {
   min-width: 3em;
}



.codeSwitches a {
   text-decoration: none;
}

.codeSwitches a:hover {
   text-decoration: none;
}  

.codeBox .indicator {
   display: none;
}


 /* overwrite materialize CSS tab 'active' indicator color */
 .codeBox .tabs .indicator {
    background-color: transparent;
    background-color: #FFDE00;
 }

 /* 
    We need min height on code containers themselves 
    since we don't want things to jump when switching
    the language to show.
    Since the code doesn't line-wrap, we can count on 
    one specific language determining the maximum height
    necessary.
 */
 .codeContainer {
    min-height: 35em;
 }

 /* 
    min height on the pre so that the scroll bar
    is at the bottom on the container
 */
 .codeContainer pre {
    min-height: 33em;
 }



/* demoBox formatting */

#demoBox {
   margin-top: 0.2em;
   max-width: 1024px;
   text-align: center;
   display: inline-block;
}

.demos-overview-link {
    text-align: center;

    font-size: 22px;
    padding-top: 0.7em;
}

.demos-overview-link a {
  text-decoration: underline;
}

#demoBox p.direct-demos {
    text-align: center;
  
    padding-top: 1em;
}

.demos_list {
   list-style: none;
   margin: 0 auto;
   min-height: 100px;
   /* text-align: center; */
   /* max-width: 100%; */
   padding: 0;
   /* display: inline-block; */
}

.demos_list > li {
   width: 280px;
   height: 320px;
   position: relative;
   color: #444;
   margin-bottom: 16px;
   margin: 13px 16px 16px;
   padding: 0px;
   display: inline-block;
   /* text-align: center; */
   vertical-align: top;
}

.demos_list > li.nonDisplay {
   display: none;
}

.demos_list > li > a {
   display: block;
   background-color: #333;
   color: #fff;
   border-radius: 3px;
   border: solid 1px #000;
   padding: 10px 0;
   width: 282px;
   height: 280px;
   margin: 0 auto;
   font-size: 20px;
   text-align: center;
   text-decoration: none;
}


/*
  How it works page formatting
*/

.container.howItWorks {
  max-width: 800px;
}

.imageContainer {
  background-color: #353535;
  border-radius: 2px;
  text-align: center;
  max-width: 600px;
  min-width: 200px;
  width: 90%;
  display: inline-block;
  margin-bottom: 1.7rem;
}

.patternContainer img {
  width: 41%;
  min-width: 200px;
  max-width: 600px;
  margin-left: 5%;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}

.howItWorks li {
  font-size: inherit;
}

.howItWorks #crossbarOverview {
  max-width: 400px;
}


.howItWorks #supportedLanguages {
  max-width: 300px;
  margin: 0.5rem 0;
}

.howItWorks #polyglotApplications   {
  max-width: 300px;
  margin: 1rem 0;
}

.howItWorks #httpBridge {
  max-width: 400px;
}

.howItWorks #encryptedTransports {
  max-width: 400px;
}

.howItWorks #multiProcess {
  max-width: 400px;
}

.howItWorks #manyClients {
  max-width: 300px;
}


.howItWorks #ccLogo {
  width: 48%;
  max-width: 200px;
  margin-right: 5%;
  vertical-align: top;
  margin-top: 3%;
}

.howItWorks #osiLogo {
  width: 48%;
  max-width: 150px;
  margin: 3% 0;
}

.howItWorks .note {
  
font-style: italic;
}

.howItWorks .separator {
  width: 100%;
  border-top: solid 1px #999;
  margin-top: 2.6em;
  margin-bottom: 2.6em;
}


#page.howItWorks .codeBox ul {
list-style: none;
}

#page.howItWorks .codeBox li {
  
/* width: 50%; */
  
/* min-width: initial; */
  
font-size: inherit;
  
list-style: none;
  
padding-left: 0;
  
text-indent: 0;
  
line-height: 3em;
}

#page.howItWorks .codeBox li:before {
  
content: none;
}

#page ul.codeSwitches {
  margin-bottom: 0;
}

.codeContainer.connect {
  min-height: 21em;
}

.codeContainer.connect pre {
  min-height: 20em;
}



.codeContainer.subscribe {
  min-height: 12em;
}

.codeContainer.subscribe pre {
  min-height: 11em;
}



.codeContainer.publish {
  min-height: 2em;
}

.codeContainer.publish pre {
  min-height: 1em;
}



.codeContainer.register {
  min-height: 12em;
}

.codeContainer.register pre {
  min-height: 11em;
}



.codeContainer.call {
  min-height: 8em;
}

.codeContainer.call pre {
  min-height: 7em;
}



/* scalability section */

.scalesBox {

}

.scalesBox .scalesHeader {

}

.scalesBox table {
background-color: #EAEAEA;
border-radius: 5px;
padding: 1em 1.5em;/* border-collapse: separate; */}

.scalesBox tbody {
}

.scalesBox th {
text-align: center;
background-color: #B3B3B3;
border-radius: 0;
}

.scalesBox tr {

}

.scalesBox tr:nth-of-type(2n) {
  background-color: gainsboro;
}


.scalesBox tr:nth-of-type(2) td {
  vertical-align: top;
}

.scalesBox .hardware {

}

.scalesBox .connections,
.scalesBox .calls,
.scalesBox .events,
.scalesBox .requests {
  
}

.scalesBox tr td {
text-align: center;
border-radius: 0;
}

.scalesBox tr td:first-of-type {
  
vertical-align: middle;
  
text-align: left;
  
font-weight: bold;
  
padding-left: 1em;
}


.scalesBox .connections {
  
}

.scalesBox .calls {
  
}

.scalesBox .events {
  
}

.scalesBox .requests {
  
}

