/* Materialize: sticky footer */
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-color: #333 !important;
}

main {
   flex: 1 0 auto;
   background-color: #fff !important;
   padding-bottom: 20px;
}

footer.page-footer {
   margin-top: 0;
}

/* Materialize adjustments */
.icon-block {
   padding: 0 15px;
}
.icon-block .material-icons {
   font-size: inherit;
}

.card .card-action {
  border-top: 1px solid rgba(255,222,0,1);
}

.imagebox {
    width: 70%;
    margin: auto;
}

.imagebox img {
    text-align: center;
/*
    display: block;
    margin: auto;
*/
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #888;
}

main a, main a:visited {
    color: #333;
/*
    text-decoration: underline;
    color: #ffde00;
    color: #666;
    font-weight: 600;
    padding-left: 2px;
    border-bottom: solid 1px #ffde00;
    */
}

main a:hover {
    color: #000;
    border-bottom: solid 2px #ffde00;
/*    transition: all 0.05s ease-in-out;
*/
}

code {
    background-color: #EADF91;
    color: #817417;
}

.highlight-code {
    padding: 12px 20px 12px 30px;
    font-size: 12px;
    width: 90%;
    margin-left: 3em;
    background-color:  rgba(0,0,0,.1);
/*
    border-bottom: solid 1px #aaa;
    */
}

.headerlink {
    display: none;
}

blockquote {
    border-left: 5px solid #ffde00 !important;
}

/*
 http://old.driven-by-data.net/about/chromajs/#/0
 */

 nav {
    z-index: 10 !important;
 }

 nav ul a:hover {
    background-color: #ffde00;
    color: #333;
    transition: all 0.2s ease-in-out;
 }

 .feature-block {
    margin: 8px;
    border-top: solid 3px #ffde00;
    color: #666;
 }

 .feature-block h5 {
    font-weight: 300;
 }



.frontsubtitle {
    font-size: 18px;
    font-weight: 300;
    margin: 0;

}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 200px;
}

.sticky:before,
.sticky:after {
    content: '';
    display: table;
}

.color-0 {
    color: #ffffff !important;
}
.color-1 {
    color: #ffde00 !important;
}
.color-2 {
    color: #c0a80f !important;
}
.color-3 {
    color: #857411 !important;
}
.color-4 {
    color: #4e450e !important;
}
.color-5 {
    color: #1e1a00 !important;
}
.color-6 {
    color: #000000 !important;
}
.color-7 {
    color: #ECDB6C !important;
}

.b-color-0 {
    background-color: #ffffff !important;
}
.b-color-1 {
    background-color: #ffde00 !important;
}
.b-color-2 {
    background-color: #c0a80f !important;
}
.b-color-3 {
    background-color: #857411 !important;
}
.b-color-4 {
    background-color: #4e450e !important;
}
.b-color-5 {
    background-color: #333 !important;
}
.b-color-6 {
    background-color: #000000 !important;
}

.b-color-7 {
    background-color: #aaa !important;
}

.b-color-8 {
    background-color: #999 !important;
}

.b-color-9 {
    background-color: #49a6d8 !important;
    background-color: #003552 !important;
    background-color: #0F608C !important;
    background-color: #333 !important;
}

.color-9 {
    color: #49a6d8 !important;
    color: #003552 !important;
    color: #0F608C !important;
}

.b-color-10 {
    background-color: #666 !important;
}

.color-11 {
    color: #888 !important;
}


.active, .active a, .new, .btn {
    color: rgba(0, 0, 0, .8)  !important;
    color: #333 !important;
    background-color: #ffde00 !important;
}

.collection-item {
    color: #666  !important;
}

.b-color-1-darken-1 {
    background-color: rgb(255, 222, 0) !important;
}

.symbol {
    color: #4e450e;
    background-color: #ffde00 !important;
    padding: 3px;
}

.nav-scroll-top {
    box-shadow: none !important;
    background-color: #333 !important;
    transition: all 0.3s ease-in-out;
}

.nav-scroll-top .brand-logo {
    opacity: 0 !important;
    transition: all 0.3s ease-in-out;
}

.nav-scroll-nontop {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    background-color: #333 !important;
    transition: all 0.35s ease-in-out;
}

.nav-scroll-nontop .brand-logo {
    opacity: 1 !important;
    transition: all 0.35s ease-in-out;
}

.logo-on {
    opacity: 1 !important;
    transition: all 0.35s ease-in-out;
}

.logo-off {
    opacity: 0 !important;
    transition: all 0.35s ease-in-out;
}

/*
rgb(255, 222, 0)
#ffde00 #c9af29 #958334 #645936 #333333
#ffde00 #c0a80f #857411 #4e450e #1e1a00
*/
